<!DOCTYPE html>
<html lang="en-us">




  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  </head>
  
  
  
  
  <body class="theme-base-08 sidebar-overlay">
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" checked>

    <div class="sidebar" id="sidebar">
      <div class="sidebar-item">
        <p style="font-size: 1.1rem; line-height: 1.4;">
          <strong style="font-size: 1.4rem;">IROS 2025 WS</strong><br>
          <strong style="font-size: 1.25rem; color: rgb(218, 191, 191);">Building Safe Robots</strong>
        </p>
      </div>
      

      <nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="{{ site.baseurl }}/ " style="font-weight: bold;">Home</a>
        <a class="sidebar-nav-item" href="{{ site.baseurl }}/program/" style="font-weight: bold;">Program</a>
        <a class="sidebar-nav-item" href="{{ site.baseurl }}/speakers/" style="font-weight: bold;">Invited Speakers</a>
        <a class="sidebar-nav-item" href="{{ site.baseurl }}/cfp/" style="font-weight: bold;">Call for Papers</a>
        <a class="sidebar-nav-item" href="{{ site.baseurl }}/organizers/" style="font-weight: bold;">Organizers</a>
      </nav>
    </div>

    <div class="wrap">
      <div class="masthead" style="position: relative;">
        <div style="position: absolute; left: 19rem; top: 50%; transform: translateY(-50%);">
          <a href="{{ site.baseurl }}/">
            <img src="{{ '/images/logo.png' | relative_url }}" alt="Workshop Logo" style="height: 100px;">
          </a>
        </div>
      
        <div class="container" style="padding-left: 5px;">
          <h3 class="masthead-title" style="font-size: 1.3rem;">
            <a href="{{ site.baseurl }}/" title="Home" style="font-size: 1.5rem;">{{ site.title }}</a><br>
            <small style="font-size: 1.05rem; color: #333;">{{ site.tagline }}</small>
          </h3>
        </div>

        
      </div>

      <div class="container content">
        {{ content }}  
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
  </body>


 
</html>




